<!DOCTYPE html>
<html>
<head>
    <title>Spirulina Bioreactor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Spirulina Bioreactor</h1>
    <p id="sensorStatus">Sensor status: </p>
    <p id="currentMode">Current mode: </p>
    <p id="camRelayValues">Cam and relay values: </p>
    <p id="currentTime">Current time: </p>
    <input type="text" id="duration" name="duration">
    <button onclick="extract()">Extract</button>
    <script src="/static/script.js"></script>
</body>
</html>
